
/node_modules
/bower_components
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
/.history
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/0-files

