.ck-editor__editable,
textarea {
    min-height: 150px;
}

body {
    font-size: 14px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs>.btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}

.searchable-fields {
    padding-left: 5px;
}

.searchable-link {
    padding: 0 5px 0 5px;
}

.searchable-link:hover {
    cursor: pointer;
    background: #eaeaea;
}

.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.error {
    color: red;
}

.loginImage {
    float: left;
}

.loginImage img {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.loginText {
    margin: 30px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #000 !important;
}

.loginBtn {
    margin: 15px 0px 20px 0px;
    background: #9b00ff;
    border-color: #9b00ff;
    font-weight: bold;
}

.loginBtn:hover {
    background: #9b00ff;
    border-color: #9b00ff;
    font-weight: bold;
}

.loginLogo {
    text-align: center;
}

.loginLogo img {
    width: 40%;
    height: 100%;
    text-align: center;
}

.app-header .navbar-brand {
    height: 25px;
}

.card {
    box-shadow: 3px 5px 3px 3px #ccc;
}

.w3-modal-content {
    background-color: transparent;
    text-align: center;
}

.sidebar .nav-link.active {
    color: #fff;
    background: #2D46F5;
}

.sidebar .nav-link.active .nav-icon {
    color: #fff;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: #2D46F5;
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 .5rem 0 0;
    font-size: .875rem;
    color: #fff;
    text-align: center;
}

.lg\:bg-center {
    background-position: center;
    background-size: cover;
}

.sidebar-fixed .sidebar {
    position: fixed;
    z-index: 1019;
    width: 220px !important;
    height: 100vh;
}

.sidebar .nav {
    width: 215px;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
}

.sidebar .sidebar-nav {
    position: relative;
    -ms-flex: 1;
    flex: 1;
    width: 220px;
}